*{
    font-family: 'Montserrat', sans-serif;
}
#background{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.main{
    perspective: 700px;
    margin-left: 150px;
    margin-top: -80px;
}
.map {
    background-image: url(../img/map.jpg); 
    background-size: cover;
    transform-style: preserve-3d;
    transform: rotate3d(100,0,0,50deg);
    transition: 1s;
    

}
.map:hover{
    transform: rotate3d(100,0,0,45deg);
    box-shadow: 0px 0px 15px 7px #27F0FF;
}
.sidemenu{
    color: #ffffff;
    position: absolute;
    right: 0;
    top: 30px;
    background-color: rgba(2, 7, 31, 0.812);
    width: 20%;
    border-radius: 6px 0px 0px 6px;
    padding: 6px;
    transition: 1s;
}
.sidemenu:hover{
    width: 24%;
    box-shadow: 0px 0px 15px 7px #27F0FF;
}
.bombicon{
    width: 30px;
    height: 30px;
    background-image: url("../img/mortar.gif");
    background-size: cover;
    transition: 1s;
    right: 0;
    top: 0;
}
.form{
    width: 100%;
    display: flex;
    font-size: 85%;
}
.labels{
    width: 48%;
    flex: 1;
}
.inputs{
    width: 48%;
    flex: 2;
}

.labels div{
    margin-bottom: 8px;
}
.inputs div{
    margin-bottom: 6px;
}
.inputs input{
    width: 100%;
    background-color: darkslategrey;
    border-radius: 3px;
    border: #110158 1px solid;
    transition: 1s;
    color: #ffffff;
}
.inputs input:hover{
    box-shadow: 0px 0px 8px 4px #27F0FF;
}